#pragma once
// Copiar a secrets.h y rellenar.

#define WIFI_SSID "..."
#define WIFI_PASS "..."

// Broker MQTT local (IP de la estación base que corre Mosquitto)
#define MQTT_HOST "192.168.4.50"
#define MQTT_PORT 1883
#define MQTT_USER "estacion-aux"
#define MQTT_PASS "..."
#define MQTT_CLIENT_ID "estacion-aux"
#define MQTT_TOPIC "esagrau/nodos/+/telemetria"
