#pragma once
// Copiar a secrets.h y rellenar con tus credenciales
#define WIFI_SSID  "NodoAutonomo"
#define WIFI_PASS  "12345678"

// Broker MQTT en la estación base
#define MQTT_HOST "192.168.4.50"
#define MQTT_PORT 1883
#define MQTT_USER "nodo-1"
#define MQTT_PASS "xxxx"
#define MQTT_CLIENT_ID "nodo-1"

// Temas ESAGRAU
#define MQTT_TOPIC_TELEMETRIA "esagrau/nodos/nodo-1/telemetria"
#define MQTT_TOPIC_ESTADO     "esagrau/nodos/nodo-1/estado"
