UBI_TOKEN_ESTACION=xxxx
UBI_DEVICE_ESTACION=estacion-base
UBI_TOKEN_NODO=xxxx
UBI_DEVICE_NODO=nodo-1
# Broker MQTT local
MQTT_HOST=127.0.0.1
MQTT_PORT=8883
MQTT_TLS=true
MQTT_CA=/xxx/ca.crt
MQTT_USER=estacion-base
MQTT_PASS=xxxx